.container {
    width: 840px;
}

.navbar {
    margin-top: 10px;
    border-radius: 0px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

h2.bigger {
    font-size: 50px;
}

th > .list-group > li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul.list-group {
    margin-bottom: 0px;
}

th.vertical-text-center {
    vertical-align: middle !important;
}

th.gr-name {
    font-size: 33px;
}

th.gr-amount {
    font-size: 19px;
}

th > form  {
    margin-bottom: 5px;
}

th > form.last-form {
    margin-bottom: 0px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgb(222, 222, 222);
}

button.btn-action {
    width: 70%;
}

.btn-add {
    height: 50px;
    width: auto;
    font-size: 25px;
    margin-bottom: 20px;
}

.alert {
    margin-top: 20px;
}

.well > label {
    margin-left: 10px;
    margin-bottom: 0px;
}

.well > .badge {
    float: right;
}

.subject-well {
    background: rgb(222, 222, 222);
    border-color: rgb(203, 203, 203);
}

.btn-submit {
    width: 130px;
    margin: 20px;
}

.alert-message {
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#subject-alert {
    margin-top: 15px;
    margin-bottom: 25px;
}

#delete_popup,
#error_message {
    top: 25%;
}

#delete_popup p,
#error_message p {
    font-size: 18px;
}

.modal-form {
    display: inline-block;
    margin-right: 15px;
}