.navbar {
    margin-top: 10px;
    border-radius: 0px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

h2.bigger {
    font-size: 50px;
}

th > .list-group > li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul.list-group {
    margin-bottom: 0px;
}

th.vertical-text-center {
    vertical-align: middle !important;
}

th.gr-name {
    font-size: 33px;
}

th.gr-amount {
    font-size: 19px;
}

th > form  {
    margin-bottom: 5px;
}

th > form.last-form {
    margin-bottom: 0px;
}

button.btn-action {
    width: 70%;
}

.btn-add {
    height: 50px;
    width: auto;
    font-size: 25px;
    margin: 20px 0px;
    background: rgb(255,176,59);
    border-color: rgb(255,176,59);
    color: rgb(142,40,0);
}

.btn-add:hover {
    background: rgb(229, 153, 58);
    border-color: rgb(229, 153, 58);
    color: rgb(142,40,0);
}

.btn-add:active:focus {
    background: rgb(187, 115, 54);
    border-color: rgb(169, 99, 52);
    color: rgb(142,40,0);
}

.btn-add:focus {
    background: rgb(255,176,59);
    border-color: rgb(255,176,59);
    color: rgb(142,40,0);
}

.alert {
    margin-top: 20px;
}

.well > label {
    margin-left: 10px;
    margin-bottom: 0px;
}

.well > .badge {
    float: right;
}

.subject-well {
    background: rgb(255,240,165);
    border-color: rgb(255,240,165);
}

.btn-submit {
    width: 130px;
    margin: 20px;
}

.alert-message {
    display: none;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#delete_popup,
#error_message {
    top: 25%;
}

#delete_popup p,
#error_message p {
    font-size: 18px;
}

.modal-form {
    display: inline-block;
    margin-right: 15px;
}