<nav>
    <div class="nav-wrapper">
        <a routerLink="/player/7564d81e-b4c7-440f-8f55-ea8938ec0hr8"  class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/help" routerLinkActive="active">Ask help</a></li>
            <li><a routerLink="/allHelps" routerLinkActive="active">Attacks</a></li>
            <li><a href="logout" >Log out</a></li>
        </ul>
    </div>
</nav>
<div id="note" *ngIf="showNotif" routerLink="/allHelps" routerLinkActive="active">
    One of alliance member needs help!
    <div  class="right" style="cursor: pointer;" (click) = "close()"> x </div>
</div>