<nav>

    <div class="nav-wrapper">
        <a href="#"  class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li ><a routerLink="/user" routerLinkActive="active" >{{ 'Player' | translate}}</a></li>
            <li><a routerLink="/leader" routerLinkActive="active">{{'Alliance' | translate}}</a></li>
            <li><a routerLink="/help" routerLinkActive="active">{{'Ask help'|translate}}</a></li>
            <li><a routerLink="/allHelps" routerLinkActive="active">{{'Attacks'|translate}}</a></li>
            <li><a href="/travian/parser/">{{'Parse'|translate}}</a></li>
            <li *ngIf="isLeader"><a routerLink="/leader/manager" routerLinkActive="active">{{'Manage'|translate}}</a></li>
            <li><a href="logout" >{{'Log out'|translate}}</a></li>
        </ul>
    </div>
</nav>
<div id="note" *ngIf="showNotif" routerLink="/allHelps" routerLinkActive="active">
    {{'One of alliance member needs help!'|translate}}
    <div  class="right" style="cursor: pointer;" (click) = "close()"> x </div>
</div>