<app-modal-pars *ngIf="confirmParsing" [confirmMsg]="confirmMsg" (notify)='onConfirmPars($event)'></app-modal-pars>

<ul id="dropdown1" class="dropdown-content">
    <li><a onclick="return false" href="#">{{playerLogin}}</a></li>
    <li class="divider"></li>
    <li><a href="logout">{{'Logout'|translate}}</a></li>
</ul>
<nav>

    <div class="nav-wrapper">
        <a href="#" class="brand-logo" onclick="return false">Travian</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li ><a routerLink="/user" routerLinkActive="active" >{{'Player' |translate}}</a></li>
            <li><a routerLink="/leader" routerLinkActive="active">{{'Alliance' |translate}}</a></li>
            <li><a routerLink="/help" routerLinkActive="active">{{'Ask help'|translate}}</a></li>
            <li><a routerLink="/allHelps" routerLinkActive="active">{{'Attacks'|translate}}<span *ngIf="numOfAttacks != 0"> ({{numOfAttacks}})</span></a></li>
            <li><a (click) = "confirmPars()" >{{'Parse' |translate}}</a></li>
            <li *ngIf="isLeader"><a routerLink="/leader/manager" routerLinkActive="active">{{'Manage'|translate}}</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{playerLogin}}<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li style="border-bottom: solid 1px #b7b8b4"><a routerLink="/user" routerLinkActive="active" >{{'Player' |translate}}</a></li>
            <li><a routerLink="/leader" routerLinkActive="active">{{'Alliance' |translate}}</a></li>
            <li><a routerLink="/help" routerLinkActive="active">{{'Ask help'|translate}}</a></li>
            <li><a routerLink="/allHelps" routerLinkActive="active">{{'Attacks'|translate}}</a></li>
            <li><a (click) = "confirmPars()" >{{'Parse' |translate}}</a></li>
            <li *ngIf="isLeader"><a routerLink="/leader/manager" routerLinkActive="active">{{'Manage'|translate}}</a></li>
            <li><a href="logout">{{'Logout'|translate}}</a></li>
        </ul>
    </div>
</nav>
<div id="note" *ngIf="showNotif" routerLink="/allHelps" routerLinkActive="active">
    {{'HelpNotification'|translate}}
    <div  class="right" style="cursor: pointer;" (click) = "close()"> x </div>
</div>