.idea/*
.gradle/*
build/*
classes/*
bin/*
out/*
**/io/*
logs/*
src/main/webapp/node_modules/*
WebContent/*
web/*

**/webapp/components/**/*.js.map
**/webapp/components/**/*.js

*.iml
*.ipr
*.iws

.classpath
.project
.settings

.gradletasknamecash
/build/
/bin/
/.gradle/
.idea/
org/
