<form [formGroup]="addVillageForm" (ngSubmit)="onSubmit()" >
    <div class="row container">
        <div class="input-field col s6 offset-s3">
            <input id="name" type="text" class="validate" required formControlName="name">
            <label for="name">Name</label>
            <div *ngIf="formErrors.name" class="error">
                {{formErrors.name|translate }}
            </div>
        </div>

        <div class="input-field col s6 offset-s3" >
            <input id="x" type="text" class="validate" required formControlName="xCoord">
            <label for="x">X</label>
            <div *ngIf="formErrors.xCoord" class="error">
                {{formErrors.xCoord|translate}}
            </div>
        </div>

        <div class="input-field col s6 offset-s3">
            <input id="y" type="text" class="validate" formControlName="yCoord" required >
            <label for="y">Y</label>
            <div *ngIf="formErrors.yCoord" class="error">
              {{formErrors.yCoord|translate}}

            </div>
        </div>

        <div class="input-field col s6 offset-s3">
            <input id="population" type="text" class="validate" required
                   formControlName="population" >
            <label for="population">Population</label>
            <div *ngIf="formErrors.population" class="error">
                {{formErrors.population|translate}}
            </div>
        </div>

        <div class="input-field col s6 offset-s3">
            <input id="wall" type="text" class="validate" formControlName="wall" required >
            <label for="wall">Wall</label>
            <div *ngIf="formErrors.wall" class="error">
               {{formErrors.wall|translate}}
        </div>
        </div>

        <div class="input-field col s6 offset-s3">
            <p> Is capital?</p>
        <div class="switch ">
            <label class="col cap_Switch">
                No
                <input type="checkbox"  formControlName="isCapital">
                <span class="lever"></span>
                Yes
            </label>
        </div>
        </div>
            <div formArrayName="armies">
                <div *ngFor="let p of addVillageForm.controls.armies.controls; let i=index" >
                    <div add-army [army]="village.armies[i]" [group]="addVillageForm.controls.armies.controls[i]" [unitTypeStrings]="this.unitTypeStrings"
                    [armiesControl]="addVillageForm.controls.armies" [index]="i" (newUnitTypeStrings)="updateTypes($event)"></div>
                </div>
            </div>


        <div  class="input-field col s6 offset-s3">
            <button  (click)="addArmies()" class="btn-floating btn-large waves-effect waves-light red" [disabled]="!addVillageForm.controls.armies.valid||addVillageForm.controls.armies.controls.length==0">
                <i class="material-icons">add</i>
            </button> Add army
        </div>
<div class="row">
        <div class="input-field col s6 offset-s5">
            <button type="submit" class="btn btn-default"
            [disabled]="!addVillageForm.valid">Submit</button>
        </div>
    </div>
    </div>
</form>
