td:nth-child(1) {
    word-wrap: break-word;
    width: 130px;
}

td:nth-child(5) {
    height: 63px;
    text-align: center;
}

table.fi thead th:nth-child(4) {
    height: 63px;
}

th{
    text-align: center;
}

table.fi thead th {
    height: 50px;

}

th{
    text-align: center;
}



table.fi thead th {
    text-align: center;
}

td div {
    text-align: center;
}

td input {
    text-align: center;

}

.error {
    color: red;
}

.centerCard {
    text-align: center;
}

.c_switch {
    margin-top: 10px;
}

.x {
    cursor: pointer;
}

.army_block {
    margin-top: 10px;
}

.cap_Switch {
    margin-top: 3px;
    margin-left: 68px;
}

td button.btn.edit {
    background-color: #9cd1af;
}

td button {
    width: 90px;
    padding: 0 10px;
}
.card{
    position: fixed;
    top: -5px;
    width: 42%;
    left: 57%;
    z-index: 1;
}

@media screen and (max-width: 1000px)  {
    td input {
        height: 25px;
    }

    td {
        height: 50px;
    }

    td:nth-of-type(1) {
        width: 160px;
    }

    th img{
        margin-bottom: -2px;
    }
    th:nth-of-type(5){
        height: 63px;
    }
}
