<my-header></my-header>
<div class="col s12">
    <div *ngIf="successMessage != null" class="card green lighten-5">
        <div class="card-content green-text">
            <p>{{successMessage}} <span (click)="closeSuccess()" class="right" style="cursor: pointer;">x</span></p>
        </div>
    </div>
    <div class="card red lighten-4">
        <div *ngIf="errorMessage != null" class="card-content red-text">
            <p>{{errorMessage}} <span (click)="closeError()" class="right" style="cursor: pointer;">x</span></p>
        </div>
    </div>

    <add-member (addMemberForm)="addMember($event)"></add-member>
<alliance-members [allianceMembers]="users" (actionUpdate)="updateMember($event)" (actionDelete)="deleteMember($event)"></alliance-members>