<leader-header></leader-header>
<add-member (addMemberForm)="addMember($event)"></add-member>

<app-modal *ngIf="deletedMember !== null" [confirmMsg] = "confirmMsg" (notify)='onConfirmDelete($event)'></app-modal>

<div class="row container">
    <div class="col s12 center-align">
        <h3>{{ leader.alliance }} Members</h3>
    </div>
</div>
<div class="row container">
    <div class="row col s12 valign-wrapper">
        <table class="bordered striped centered">
            <thead>
            <tr>
                <div class="valign-wrapper" style="height: 50px">
                    <th class="col s3">Login</th>
                    <th class="col s3">E-mail</th>
                    <th class="col s3">Alliance</th>
                    <th class="col s3">Action</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of users">
                <div *ngIf="member !== selectedMember" class="valign-wrapper" style="height: 55px" (dblclick)="selectMember(member)">
                    <td class="col s3">{{ member.login }}</td>
                    <td class="col s3">{{ member.email }}</td>
                    <td class="col s3">{{ member.alliance }}</td>
                    <td class="col s3">
                        <button (click)="selectMember(member)" class="waves-effect waves-light  btn"
                                style="background-color: #9cd1af; width: 90px; padding: 0px 10px">
                            <i class="material-icons">mode_edit</i>
                        </button>

                        <button class="waves-effect waves-light  btn"
                                style="background-color: #f21036; padding: 0px 10px; width: 90px"
                                (click)="deleteMember(member)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </div>
                <edit-member *ngIf="member === selectedMember" [editedMember]="selectedMember"
                             (editMemberForm)="updateMember($event)"></edit-member>
            </tr>
            </tbody>
        </table>
    </div>
</div>