<div class="row container">
    <div class="row">
        <table class="bordered striped centered">
            <thead>
            <tr>
                <th>Login</th>
                <th>E-mail</th>
                <th>Alliance</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#user of getAllianceUsers()">
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.alliance }}</td>
                <td>
                    <button class="waves-effect waves-light  btn" style="background-color:#9cd1af">
                        <i class="small material-icons">mode_edit</i>
                    </button>

                    <button class="waves-effect waves-light  btn" style="background-color:#f21036"
                            (click)="!!!somemethod()">
                        <i class="small material-icons" style="padding-top:2px;">delete</i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row center-align">
        <form class="col s12" action="./user/add" method="get">
            <input type="submit" class="btn waves-effect waves-teal " value="Add"/>
        </form>
    </div>

</div>