<player-head [isLeader]="leader.isLeader" [playerLogin]="leader.login" ></player-head>

<div class="row container">
    <div class="col s12 center-align">
        <div class="col s6 left-align">
            <h4>{{'login:'|translate}} {{ leader.login }}</h4>
        </div>
        <div class="col s6 right-align">
            <h4>{{'alliance:'|translate}} {{ leader.alliance }}</h4>
        </div>
    </div>
</div>

<player-list *ngFor="let player of players" [player]="player" [isPlayerPage]="false"></player-list>