<div class="row container">
    <div class="col s12 center-align">
        <h3>Add New Member</h3>
    </div>
</div>
<form [formGroup]="memberForm" (ngSubmit)="addMember(memberForm.value)">
    <div class="row container">
        <div class="input-field col s4 offset-s1">
            <label for="login">Login</label>
            <input type="text" id="login" class="validate" [formControl]="memberForm.controls['login']"/>
            <!--<div style="color: red; font-size: 14px;" *ngIf="!memberForm.controls['allianceName'].valid-->
            <!--&& memberForm.controls['allianceName'].touched">{{LOGIN_ERROR}}-->
            <!--</div>-->
        </div>

        <div class="input-field col s4">
            <label for="email">Email</label>
            <input type="text" id="email" class="validate" [formControl]="memberForm.controls['email']"/>
            <!--<div style="color: red; font-size: 14px;"-->
                 <!--*ngIf="!memberForm.controls['leaderLogin'].valid && memberForm.controls['leaderLogin'].touched">-->
                <!--{{LOGIN_ERROR}}-->
            <!--</div>-->
        </div>

        <div class="input-field col s2">
            <button class="btn waves-effect waves-light col offset-s5 " name="action" type="submit"
                    [disabled]="!memberForm.valid">Add member
            </button>
        </div>
    </div>
</form>
