<div class="row container">
    <div class="col s12 center-align">
        <h3>{{'Add New Member'|translate}}</h3>
    </div>
</div>
<form [formGroup]="memberForm" (ngSubmit)="addMember(memberForm.value)">
    <div class="row container">
        <div class="input-field col s4 offset-s1">
            <label for="login">{{'Login'|translate}}</label>
            <input type="text" id="login" class="validate"
                   required minlength="3" maxlength="9"
                   [formControl]="memberForm.controls['login']"/>
            <div style="color: red; font-size: 14px;" *ngIf="(!memberForm.controls['login'].valid
            && memberForm.controls['login'].touched && memberForm.controls['login'].dirty && memberForm.controls['login'].value != '')">{{LOGIN_ERROR|translate}}
            </div>
        </div>

        <div class="input-field col s4 ">
            <label for="email">Email</label>
            <input type="text" id="email" class="validate" [formControl]="memberForm.controls['email']"/>
            <div style="color: red; font-size: 14px;"
                 *ngIf="(!memberForm.controls['email'].valid && memberForm.controls['email'].touched && memberForm.controls['email'].dirty
                 && memberForm.controls['email'].value != '')">
                {{EMAIL_ERROR|translate}}
            </div>
        </div>
        <div class="input-field col s1">
            <input type="checkbox" class="messageCheckbox" id="test5" [formControl]="memberForm.controls['isLeader']"
                   name="isLeader"/> <label for="test5">{{'Leader'|translate}}</label>
        </div>

        <div class="input-field col s2">
            <button class="btn waves-effect waves-light col offset-s5 " name="action" type="submit" title="{{'Add'|translate}}"
                    [disabled]="!memberForm.valid">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</form>
