<div (keyup.escape)="cancelEditing()" style="height: 70px">
    <form [formGroup]="memberForm" (ngSubmit)="updateMember(memberForm.value)" class="valign-wrapper"
          style="height: 55px">
        <td class="col s3">
            <div>
                <input type="text" name="login" id="editLogin" class="validate" style="margin-bottom: 5px"
                       [formControl]="memberForm.controls['login']" autofocus/>
                <div class="red lighten-3"
                     *ngIf="!memberForm.controls['login'].valid && memberForm.controls['login'].touched">{{LOGIN_ERROR}}
                </div>
            </div>
        </td>
        <td class="col s3">
            <div>
                <input type="text" name="email" id="editEmail" class="validate" style="margin-bottom: 5px"
                       [formControl]="memberForm.controls['email']"/>
                <div class="red lighten-3"
                     *ngIf="!memberForm.controls['email'].valid && memberForm.controls['email'].touched">
                    {{EMAIL_ERROR}}
                </div>
            </div>
        </td>
        <td class="col s3">valhala</td>
        <td class="col s3">
            <button class="waves-effect waves-light  btn" [disabled]="!memberForm.valid"
                    style="background-color: #9cd1af; width: 90px; padding: 0px 10px" type="submit">
                <i class="material-icons">play_arrow</i>
            </button>
            <button class="waves-effect waves-light  btn" type="button"
                    style="background-color: #f21036; padding: 0px 10px; width: 90px"
                    (click)="cancelEditing()">
                <i class="material-icons">stop</i>
            </button>
        </td>
    </form>
</div>

