<div (keyup.escape)="cancelEditing()" style="height: 70px">
    <form [formGroup]="memberForm" (ngSubmit)="updateMember(memberForm.value)" class="valign-wrapper">
        <td class="col s2">
            <input type="text" name="login" id="editLogin" class="validate"
                   [formControl]="memberForm.controls['login']"/>
            <!--<div style="color: red; font-size: 14px;" *ngIf="!memberForm.controls['allianceName'].valid && memberForm.controls['allianceName'].touched">{{NAME_ERROR}}</div>-->
        </td>
        <td class="col s3">
            <input type="text" name="email" id="editEmail" class="validate"
                   [formControl]="memberForm.controls['email']"/>
            <!--<div style="color: red; font-size: 14px;" *ngIf="!memberForm.controls['leaderLogin'].valid && memberForm.controls['leaderLogin'].touched">{{LOGIN_ERROR}}</div>-->
        </td>
        <td class="col s3">valhala</td>
        <td class="col s4">
            <button class="waves-effect waves-light  btn"
                    style="background-color: #9cd1af; width: 95px; padding: 0px 10px" type="submit">
                <i class="material-icons right">play_arrow</i>Save
            </button>
            <button class="waves-effect waves-light  btn"
                    style="background-color: #f21036; padding: 0px 10px; width: 115px"
                    (click)="cancelEditing()">
                <i class="material-icons right">stop</i>Cancel
            </button>
        </td>
    </form>
</div>

