<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <title>HMAC Security example </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">

    <!-- Polyfill(s) for older browsers -->
    <!--<script src="node_modules/core-js/client/shim.min.js"></script>-->
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>


    <!-- Initialization -->
    <script src="systemjs.config.js"></script>
</head>
<body>
    <my-app>Loading...</my-app>
	<div class="footer-info">
<p>Double-click to edit a task</p>
<p>Created by using Spring framework and Angular 2</p>
<p><a href="https://github.com/Ariezz666/todo_angular2_django" target="_blank">GitHub</a></p>
</div>
</body>
</html>

