<nav>
    <div class="nav-wrapper">
        <a routerLink="/user/7564d81e-b4c7-440f-8f55-ea8938ec0hr8" routerLinkActive="active" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="logout">Log out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="logout">Log out</a></li>
        </ul>
    </div>
</nav>