<div [formGroup]="group" >
    <div class="row">
    <div class="input-field col s2 offset-s3">
        <select class="browser-default" name="type" (change)="removeType(selectedType.value)" formControlName="type" #selectedType>
            <option value="" disabled selected>Choose type of army</option>
            <option *ngFor="let type of unitTypeStringsCopy" >{{type}}</option>
        </select>
    </div>
    <div class="input-field col s2">
        <input id="count" type="text" class="validate" formControlName="count" required>
        <label for="count">Count</label>
        <div *ngIf="!group.controls.count.valid && (group.controls.count.touched || group.controls.count.dirty)">
            <div [hidden]="!group.controls['count'].errors.required" class="error">
                {{'Count is required! '|translate}}
            </div>
            <div [hidden]="!group.controls['count'].errors.pattern" class="error">
                {{'Count can contain numbers only!'|translate}}
            </div>
            <div [hidden]="!group.controls['count'].errors.moreThanZero" class="error">
                {{'Count must be more than zero!'|translate}}
            </div>
        </div>
    </div>
    <div class="input-field col s2">
        <span  (click)="removeArmy()" class="right x">x</span>
        Is own unit?
    <div class="switch ">
        <label class="c_switch" >
            No
            <input type="checkbox"  formControlName="ownUnit">
            <span class="lever"></span>
            Yes
        </label>
    </div>
</div>
</div>
</div>