<div [formGroup]="group">
    <div class="input-field col s6 offset-s3" >
        <select class="browser-default" name="type" formControlName="type">
            <option value="" disabled selected>Choose type of army</option>
            <option *ngFor="let type of unitTypeStrings" [ngValue]="type">{{type}}</option>
        </select>
    </div>

    <div class="input-field col s6 offset-s3">
        <input id="count" type="text" class="validate" formControlName="count" required>
        <label for="count">Count</label>
        <div *ngIf="!group.controls.count.valid && (group.controls.count.touched || group.controls.count.dirty)">
            <div [hidden]="!group.controls['count'].errors.required">
                Count is required!
            </div>
            <div [hidden]="!group.controls['count'].errors.pattern">
                Count can contain numbers only!
            </div>
        </div>

    </div>
    <div class="input-field col s6 offset-s3">
        Is own unit?
    </div>
    <div class="switch ">
        <label class="col offset-s3">
            No
            <input type="checkbox"  formControlName="ownUnit">
            <span class="lever"></span>
            Yes
        </label>
    </div>
</div>