.cell {
    text-align: center;
}
input{
    text-align: center;
}
 td{
     text-align: center
 }
 th{
     text-align: center;
 }
@media screen and (max-width: 1000px) {
    div.input-field {
        margin-top: -15px;
    }
}
