<add-alliance></add-alliance>
<div class="row container" *ngIf="alliances.length !== 0">
    <div class="col s12">
        <h3>Alliances</h3>
        <table class="highlight">

            <thead>
            <tr>
                <th class="col s3"><div style="margin: 15px 0;">Alliance name</div></th>
                <th class="col s3"><div style="margin: 15px 0;">Leader's login</div></th>
                <th class="col s3"><div  style="margin: 15px 0;">Leader's email</div></th>
                <th class="col s3"><div style="margin: 15px 0;">Action</div></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let al of _allianceService.alliances" (dblclick)="editAlliance(al)">
                <div *ngIf="al !== selectedAlliance">
                    <td class="col s3"><div  style="margin: 15px 0;">{{al.name}}</div></td>
                    <td class="col s3"><div *ngIf="al !== selectedAlliance"  style="margin: 15px 0;">{{al.leaderLogin}}</div></td>
                    <td class="col s3"><div *ngIf="al !== selectedAlliance"  style="margin: 15px 0;">{{al.leaderEmail}}</div></td>
                    <td class="col s3" style="text-align: center">
                    <button *ngIf="al !== selectedAlliance" class="btn waves-effect waves-light col offset-s1 " type="submit" name="action" (click)="editAlliance(al)"  style="margin-top: 5px;">Edit</button>
                    <button *ngIf="al !== selectedAlliance" class="btn waves-effect waves-light col offset-s1 " type="submit" name="action" (click)="deleteAlliance(al)"  style="margin-top: 5px">Delete</button>
                </td>
                </div>
                <div *ngIf="al === selectedAlliance">
                    <td class="col s3">
                    <div>
                        <input type="text" name="name" id="editName" class="validate" (keyup.escape)="cancelEditing()" (keyup.enter)="updateAlliance() "/>
                    </div>
                </td>
                <td class="col s3">
                    <div>
                        <input type="text" name="leaderLogin" id="editLeaderLogin" class="validate" (keyup.escape)="cancelEditing()" (keyup.enter)="updateAlliance()"/>
                    </div>
                </td>
                <td class="col s3">
                    <div >
                        <input type="email" name="leaderEmail" id="editLeaderEmail" class="validate" (keyup.escape)="cancelEditing()" (keyup.enter)="updateAlliance()"/>
                    </div>
                </td>
                <td class="col s3" style="text-align: center">
                    <button *ngIf="al === selectedAlliance" class="btn waves-effect waves-light col offset-s1 " type="submit" name="action" (click)="updateAlliance()"  style="margin-top: 5px">Save</button>
                    <button *ngIf="al === selectedAlliance" class="btn waves-effect waves-light col offset-s1 " type="submit" name="action" (click)="cancelEditing()"  style="margin-top: 5px">Cancel</button>
                </td>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
</div>

