<admin-header></admin-header>

<app-modal *ngIf="deletedAlliance !== null" [confirmMsg] = "confirmMsg" (notify)='onNotifyDelete($event)'></app-modal>

<div class="row container" >
    <div class="col s12">

        <div *ngIf="successMessage != null" class="card green lighten-5">
            <div class="card-content green-text">
                <p>{{successMessage}} <span (click)="closeSuccess()" class="right">x</span></p>
            </div>
        </div>

        <div class="card red lighten-4">
            <div *ngIf="errorMessage != null" class="card-content red-text">
                <p>{{errorMessage}} <span (click)="closeError()" class="right">x</span></p>
            </div>
        </div>

        <h3>{{'Alliances'|translate}}</h3>
        <table class="highlight">
            <thead>
            <tr>
                <th class="col s3"><div>{{'AllianceName'|translate}}</div></th>
                <th class="col s3"><div>{{'LeaderLogin'|translate}}</div></th>
                <th class="col s3"><div>{{'LeaderEmail'|translate}}</div></th>
                <th class="col s3"><div class="text-center">{{'Action'|translate}}</div></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let al of alliances" (dblclick)="editAlliance(al)">
                <div *ngIf="al !== selectedAlliance">
                    <td class="col s3"><div>{{al.name}}</div></td>
                    <td class="col s3"><div *ngIf="al !== selectedAlliance">{{al.leaderLogin}}</div></td>
                    <td class="col s3"><div *ngIf="al !== selectedAlliance">{{al.leaderEmail}}</div></td>
                    <td class="col s3 text-center">
                        <button *ngIf="al !== selectedAlliance" class="waves-effect waves-light btn edit" type="submit" name="action" (click)="editAlliance(al)">
                            <i class="material-icons">mode_edit</i>
                        </button>
                        <button *ngIf="al !== selectedAlliance" class="waves-effect waves-light btn delete" type="submit" name="action" (click)="deleteAlliance(al)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </div>
                <edit-alliance *ngIf="al === selectedAlliance" [editedAlliance] = "selectedAlliance" (notify)='onNotifyUpdate($event)'></edit-alliance>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

    <a class="btn-floating btn-large waves-effect waves-light cyan darken-1 center" *ngIf ="!addNewAlliance" (click)="newAlliance()"><i class="material-icons">add</i></a>
</div>
<add-alliance *ngIf="addNewAlliance" (notify)='onNotifyCreate($event)'></add-alliance>

