a, p span {
    cursor: pointer;
}

td div, th div{
    margin-top: 15px;
}

button{
    margin-top: 10px;
}

.text-center{
    text-align: center;
}

p span.close-ico {
    cursor: pointer;
}

table tr div {
    height: 55px;
}

table tr td button {
    width: 90px;
}

table tr td button.btn.edit {
    background-color: #9cd1af;
}

table tr td button.btn.delete {
    background-color: #f21036;
}
