/*table tbody tr td {*/
    /*background: red;*/
/*}*/

  td:nth-child(1){
    word-wrap: break-word;
    background: darkred;
      width: 130px;
}

 table.fi thead th {
height: 50px;
     background: red;
}

 td div{
     text-align: center;
 }


/*.ss1{*/
    /*width: 200px;*/
/*}*/

