/*table tbody tr td {*/
    /*background: red;*/
/*}*/

  td:nth-child(1){
    word-wrap: break-word;

      width: 130px;
}

 table.fi thead th {
height: 50px;

}

 td div{
     text-align: center;
 }


/*.ss1{*/
    /*width: 200px;*/
/*}*/

