 td:nth-child(1){
    word-wrap: break-word;
      width: 130px;
}

td:nth-child(5){
    height: 63px;
}

table.fi thead th:nth-child(4){
    height: 63px;
}

 table.fi thead th {
height: 50px;

}

 td div{
     text-align: center;
 }
