<table class="bordered">
    <thead>
    <tr>
        <th>Village</th>
        <th>Population</th>
        <th>X</th>
        <th>Y</th>
        <th>Capital?</th>
        <th>Wall level</th>
        <th>Armies</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody *ngFor="#n of ns">
    <tr >
        <td rowspan="2">Village1</td>
        <td rowspan="2">30</td>
        <td rowspan="2">35</td>
        <td rowspan="2">70</td>
        <td rowspan="2">true</td>
        <td rowspan="2">50</td>
        <td>type1</td>
        <td>63</td>
    </tr>

    <tr>
        <td>type2</td>
        <td>23</td>
    </tr>
    </tbody>

    <!--<tr>-->
        <!--<td rowspan="2">Village1</td>-->
        <!--<td rowspan="2">30</td>-->
        <!--<td rowspan="2">35</td>-->
        <!--<td rowspan="2">70</td>-->
        <!--<td rowspan="2">true</td>-->
        <!--<td rowspan="2">50</td>-->
        <!--<td>type1</td>-->
        <!--<td>63</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>type2</td>-->
        <!--<td>23</td>-->
    <!--</tr>-->
</table>