<div *ngIf="successMessage!=null||editError!=null" class="col s4 offset-s4 ">
    <div  [ngClass]="{'card':true, 'green':successMessage!=null, 'red':editError!=null, 'lighten-5':true}">
        <div [ngClass]="{'card-content':true , 'green-text':successMessage!=null,'red-text':editError!=null }">
            <p class="centerCard">{{editError!=null?editError:successMessage}} <span  (click)="closeDialog()" class="right x">x</span></p>
        </div>
    </div>
</div>
<div class="row ">
    <form  (ngSubmit)="onSubmit()">
        <table class="fixed responsive-table bordered">
            <thead>
            <tr>
                <th>{{'Village'|translate}}</th>
                <th>{{'Population'|translate}}</th>
                <th>X</th>
                <th>Y</th>
                <th>{{'Capital'|translate}}</th>
                <th>{{'Wall level'|translate}}</th>
                <th><img src="images/Gauls/GalFal.gif"></th>
                <th><img src="images/Gauls/GalSwordsman.gif"></th>
                <th><img src="images/Gauls/GalPathFinder.gif"></th>
                <th><img src="images/Gauls/GalTewtThunder.gif"></th>
                <th><img src="images/Gauls/GalDruid.gif"></th>
                <th><img src="images/Gauls/Edui.gif"></th>
                <th><img src="images/Gauls/GalRam.gif"></th>
                <th><img src="images/Gauls/GalCatapult.gif"></th>
                <th><img src="images/Gauls/GaLeader.gif"></th>
                <th><img src="images/Germans/Clubswinger.gif"></th>
                <th><img src="images/Germans/Spearman.gif"></th>
                <th><img src="images/Germans/Toporshchik.gif"></th>
                <th><img src="images/Germans/Skaut.gif"></th>
                <th><img src="images/Germans/Paladin.gif"></th>
                <th><img src="images/Germans/Tevtonskaya-konnitsa.gif"></th>
                <th><img src="images/Germans/Taran-ger.gif"></th>
                <th><img src="images/Germans/Katapulta-ger.gif"></th>
                <th><img src="images/Germans/Leader.gif"></th>
                <th><img src="images/Rome/Legioner.gif"></th>
                <th><img src="images/Rome/Praetorian.gif"></th>
                <th><img src="images/Rome/Imperianets.gif"></th>
                <th><img src="images/Rome/Konnyy-razvedchik.gif"></th>
                <th><img src="images/Rome/Konnitsa-imperatora.gif"></th>
                <th><img src="images/Rome/Konnitsa-Tsezarya.gif"></th>
                <th><img src="images/Rome/Taran-rim.gif"></th>
                <th><img src="images/Rome/Ognennaya-katapulta.gif"></th>
                <th><img src="images/Rome/Senator.gif"></th>
                <th *ngIf="isPlayerPage"></th>
            </tr>
            </thead>

            <tbody >
            <ng-container *ngFor="let v of player.villages">
            <tr village-row [v]="v"  [isForm]="v==selectedVillage" (errorMessage)="showEditError($event)"
                (successMessage)="showSuccessMessage($event)" (editedVillage)="this.editedVillage=$event"
                (selectedVillageChanged)="changeSelectedVillage($event)" [editVillageForm]="editVillageForm"
                (keyup)="cancelEditing($event.keyCode)" [isPlayerPage]="isPlayerPage">
            </tr>
            </ng-container>
            </tbody>
        </table>
    </form>
</div>